<div class="friend">
    <div class="left-column">
        <div class="add_friend">
            <p class="title_friend">Thêm bạn bè :</p>
            <input type="text" placeholder="Nhập ID bạn bè" class="input_search-friend">
            <button class="btn_search-friend">Tìm kiếm</button>
        </div>
        <div class="acp_friend">
            <!-- Nội dung của acp_friend -->
             <p>Lời mời kết bạn :</p>
        </div>
    </div>
    <div class="list_friend">
        <p>Danh sách bạn bè :</p>
    </div>
</div>