<div class="trans-money">
  <h2>Chuyển Tiền</h2>
  <form>
    <div class="form-group">
      <label for="id">ID người nhận</label>
      <input type="text" id="id" name="id" placeholder="Nhập tên người nhận" />
    </div>
    <div class="form-group">
      <label for="username">Tên người nhận</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Nhập tên người nhận"
      />
    </div>
    <div class="form-group">
      <label for="amount">Số tiền chuyển</label>
      <input
        type="number"
        id="amount"
        name="amount"
        inputmode="numeric"
        pattern="[0-9]*"
        placeholder="Nhập số tiền chuyển"
      />
    </div>
    <div class="form-group">
      <label for="message">Nội dung chuyển tiền</label>
      <textarea
        id="message"
        name="message"
        placeholder="Nhập nội dung chuyển tiền"
      ></textarea>
    </div>
    <button type="submit" class="submit-btn">Chuyển Tiền</button>
  </form>
</div>
