<aside class="sidebar left">
  <div class="logo"></div>
  <nav>
    <ul>
      <li>
        <a (click)="HomePage()">
          <i class="fas fa-home"></i>
          <span>HOME</span>
        </a>
      </li>

      <li>
        <a (click)="MenuGame()">
          <i class="fas fa-gamepad"></i>
          <span>GAMES</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fas fa-trophy"></i>
          <span>AWARDS</span>
        </a>
      </li>
      <li (click)="TransPage()">
        <a>
          <i class="fas fa-exchange-alt"></i>
          <span>Transfer</span>
        </a>
      </li>
      <li>
        <a  (click)="MessagePage()">
          <i class="fas fa-comments"></i>
          <span>MESSAGES</span>
        </a>
      </li>
      <li>
        <a>
          <i class="fas fa-chart-bar"></i>
          <span>STATISTIC</span>
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fas fa-right-from-bracket"></i>
        </a>
        <span>EXIT</span>
      </li>
    </ul>
  </nav>
</aside>
