.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 0 40px; 
    height: 60px;
    width: 80%; 
    box-sizing: border-box; 
    position: absolute; /* Để căn giữa */
    left: 50%;
    transform: translateX(-50%); /* Dịch ngược lại 50% để căn giữa */
    color: white; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); 
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

/* Nhóm bên trái: Chào + Tìm kiếm */
.header-group.left {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* Chào */
.header-group h2 {
    font-size: 24px;
    font-family: monospace;
    overflow: hidden;
    width: 30ch;
    text-wrap: nowrap;
    animation: typing 2s steps(20) infinite alternate;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

.login-btn {
    background-color: #f8afbc; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
    background-color: #e07b8c;
    box-shadow: 0px 6px 10px rgba(235, 194, 194, 0.3);
}

.login-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(240, 206, 206, 0.2);
}

/* Tên người dùng */
.header-group h2 {
    color: white;
    font-size: 18px;
}

/* Nhóm bên phải: Vàng, nạp vàng, thông báo */
.header-group.right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Hiển thị tiền tệ */
.currency {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: bold;
}

/* Vàng */
.gold {
    color: gold;
    white-space: nowrap;
}

/* Nút nạp vàng */
.recharge-btn {
    background-color: #ff9800; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.recharge-btn:hover {
    background-color: #e68900;
}

.recharge-btn:active {
    transform: scale(0.95);
}

/* Icon thông báo */
.notification {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
