<div class="trans-money">
  <h2>Chuyển Tiền</h2>
  <div #note class="note">{{ notifical1 }}</div>
  <form (ngSubmit)="banking()">
    <div class="form-group">
      <label for="id">Số tài khoản người nhận</label>
      <input
        type="text"
        #id
        name="id"
        placeholder="Nhập số tài khoản người nhận"
        (change)="onInputId($event)"
      />
      <span #note3 class="note3">{{ notifical3 }}</span>
    </div>
    <div class="form-group">
      <label for="username">Tên người nhận</label>
      <div #username class="username" name="username">
        {{ nameplayer }}
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Số tiền chuyển</label>
      <input
        type="number"
        #amount
        id="amount"
        name="amount"
        inputmode="numeric"
        pattern="[0-9]*"
        placeholder="Nhập số tiền chuyển"
        (input)="onInputChange($event)"
      />
      <span #msg class="msg">{{ notifical2 }}</span>
    </div>

    <div class="form-group">
      <label for="message">Nội dung chuyển tiền</label>
      <textarea
        #message
        name="message"
        value="{{ fullname }} chuyển khoản  {{ nameplayer }}"
      ></textarea>
    </div>
    <button
      #submit
      type="submit"
      class="submit-btn"
      [disabled]="submitIsDisabled"
    >
      Chuyển Tiền
    </button>
  </form>
</div>
