<div class="game-header">
  <div class="game-title">
    <span>TÀI XỈU MD5</span>
  </div>
</div>
<div class="cl">
  <div class="bet-stats">
    <div class="bet-tai">
      <span id="chan" #chanElement>TÀI</span>
      <span class="amount">{{ taiAmount | number }}</span>
    </div>
    <div class="bet-xiu">
      <span id="le" #leElement>XỈU</span>
      <span class="amount">{{ xiuAmount | number }}</span>
    </div>
  </div>
  <div class="dice-area">
    <div class="bolt" id="draggable" #draggable><div class="countdown">{{ countdown }}</div>  </div>
    <div class="dice-container">
      <div class="dice1" #dice1>
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bot"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
      <div class="dice1" #dice2>
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bot"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
      <div class="dice1" #dice3 id="dice-bottom">
        <div class="face front"></div>
        <div class="face back"></div>
        <div class="face top"></div>
        <div class="face bot"></div>
        <div class="face right"></div>
        <div class="face left"></div>
      </div>
    </div>
    
    <div class="total-score">{{ totalScore }}</div>
  </div>
  <div class="bet-actions">
    <div class="bet-tai-action">
      <span class="bet-label" (click)="toggleBet('tai')">
        {{ taiBetDisplay >= 0 ? (taiBetDisplay | number) : 'CƯỢC' }}
      </span>
    </div>
    <div class="bet-xiu-action">
      <span class="bet-label" (click)="toggleBet('xiu')">
        {{ xiuBetDisplay >= 0 ? (xiuBetDisplay | number) : 'CƯỢC' }}
      </span>
    </div>
  </div>
  <div class="people">
    <span class="text">{{ players }} người chơi</span>
  </div>
  <div class="history">
    <div *ngFor="let item of history" class="history-item {{ item }}"></div>
  </div>
  <div class="options" *ngIf="showOptionsAndActions">
    <button (click)="selectBetAmount(100)">100</button>
    <button (click)="selectBetAmount(500)">500</button>
    <button (click)="selectBetAmount(1000)">1000</button>
  </div>
  <div class="action" *ngIf="showOptionsAndActions">
    <button class="all-in" (click)="allIn()">All In</button>
    <button class="dat-cuoc" (click)="placeBet()">Đặt Cược</button>
    <button class="huy" (click)="cancelBet()">Hủy</button>
  </div>

</div>