/* bàn ngoài */
.cl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 4.5rem;
}
.circle-bg {
  background-image: url("http://localhost:4200/pngtree-brown-wooden-texture-polished-vector-background-image_306870.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 45rem;
  height: 25rem;
  border-radius: 99px;
  position: relative;
}
/* bàn trong */
.inner-circle {
  background-image: url("http://localhost:4200/wooden-background-board-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40rem;
  height: 20rem;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  border: 5px solid #b87333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bát chìm */
.black-circle {
  background: radial-gradient(circle, #c70202, #6f0101, #131210);
  width: 12rem;
  height: 12rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* Bát che xúc xắc */
.yellow-circle {
  background-image: url("http://localhost:4200/bolt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yellow-circle.disabled {
  cursor: not-allowed; /* Thay đổi con trỏ chuột */
}
.countdown {
  color: white;
  font-size: 2rem;
  z-index: 10;
}
button {
  cursor: pointer;
}
span {
  user-select: none;
}
.bet_chan {
  display: flex;
}
.bet_le {
  display: flex;
}
/*Kết quả chăn lẻ */
.circle {
  /* background-image: url("/public//dia.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#chan {
  color: #000000;
  font-size: 4rem;
  bottom: 50%;
  left: -13rem;
}
#le {
  color: #000000;
  font-size: 4rem;
  bottom: 50%;
  right: -13rem;
}
@keyframes blink {
  0%,
  100% {
    transform: scale(1);
    text-shadow: none;
  }
  50% {
    transform: scale(1.2);
    text-shadow: 0 0 5px rgb(255, 255, 0), 0 0 15px rgb(255, 255, 0, 0.5),
      0 0 25px rgb(255, 255, 0, 0.25);
  }
}
.blink-animation {
  animation: blink 0.5s infinite;
}
/* Tổng số người đặt cược mỗi bên */
.people {
  position: relative;
  background: linear-gradient(to right, #5d4037, #3e2723);
  color: white;
  font-weight: bold;
  font-size: 0.8rem; /* 18px */
  padding: 0.25rem 0.5rem; /* 8px 16px */
  border-radius: 0.5rem; /* 8px */
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fdd835;
}
.icon-left {
  left: 0;
  margin: 0 0.5rem; /* 8px */
}
.icon-right {
  right: 0;
  margin: 0 0.5rem; /* 8px */
}
.text {
  margin: 0 1.1rem;
}
/* Tổng đặt cược mỗi bên */
.number {
  display: flex;
  padding: 10px 20px;
  background: linear-gradient(to right, #7f1d1d, #3f0e0e);
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: bold;
  color: #fcd34d;
  font-family: "Arial", sans-serif;
  position: absolute;
}
#sum_chan {
  left: -10rem;
  bottom: 2.4rem;
}
#sum_le {
  right: -10rem;
  bottom: 2.4rem;
}
/* Nút đặt cược */
.button-dat-cuoc {
  background: linear-gradient(to bottom, #d2a679, #4d2600);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  border: 2px solid #8c6239;
  position: absolute;
  display: flex;
}
#cuoc_chan {
  left: -10rem;
  bottom: -1rem;
}
#cuoc_le {
  right: -10rem;
  bottom: -1rem;
}
/* Giá trị cược */
.options {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}
.options button {
  background-color: #2d2d2d;
  color: #ffcc00;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ffcc00;
  cursor: pointer;
}
/* Xác nhận cược */
.action {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.action button {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
}
.all-in {
  background-color: #6b46c1;
}
.dat-cuoc {
  background-color: #d69e2e;
}
.huy {
  background-color: #e53e3e;
}

/* Xúc xắc */
.dice1 {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1s ease;
  box-shadow: 0 0 20p rgba(0, 0, 0, 0.1);
}

@keyframes rolling {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg);
  }
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(145deg, #dddbd8, #fff);
}
.face::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}
.face::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}
.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateX(180deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bot {
  transform: rotateX(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.front::after {
  width: 30px;
  height: 30px;
  background: #f63330;
  margin: -15px 0 0 -15px;
}
.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px;
}
.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}
.bot::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px;
}
.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0, 0px 40px, 40px 40px;
}
.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px, 50px 50px;
}
