.football{
    height: 65vh;
    width: 80%;
    left: 11%;
    top: 5rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}
.match-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 8px;
    width: 90%;
  }
  
  .match-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .match-time {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    flex-direction: column;
  }
  
  .match-time span {
   display: block;
  }

  .teams {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .team {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .team-logo {
    width: 20px;
    height: 20px;
  }
  
  .match-odds {
    display: flex;
    gap: 15px;
  }
  
  .odd-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .odds {
    display: flex;
    gap: 5px;
    font-weight: bold;
  }
  
  .green {
    color: #4caf50;
  }
  
  .red {
    color: #ff4d4d;
  }
  
  .yellow {
    color: #ffcc00;
  }