.football{
    height: 65vh;
    width: 80%;
    left: 10%;
    top: 5rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
}

.football::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  right: 0;
}

p{
  margin-top: 5%;
  margin-bottom: 5%;
}

.match-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 8px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .match-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .match-time {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    flex-direction: column;
  }
  
  .match-time span {
   display: block;
  }

  .teams {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .team {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8%;
  }
  
  .team-logo {
    width: 20px;
    height: 20px;
  }
  
  .match-bet{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .score{
    flex-direction: column;
    display: flex;
  }

  .score-display {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.score-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    background: #333;
    color: white;
    border-radius: 5px;
    text-align: center;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background: #333;
    color: white;
}

input[disabled] {
  background-color: #f0f0f0; 
  color: #a0a0a0; 
  cursor: not-allowed;
}

.bet-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet-amount input {
    width: 90px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #333;
    color: white;
    text-align: center;
}

.bet-button button {
    padding: 8px 12px;
    background: #ffcc00;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.bet-button button:disabled {
  background-color: #f0f0f0; 
  color: #a0a0a0; 
  cursor: not-allowed;
}

.bet-button button:hover {
    background: #ffaa00;
}