<div class="container">
  <div class="game-menu">
    <div class="game-item" (click)="Game777()">
      <img src="http://localhost:4200/777.png" alt="Avatar of Game 1" />
      <div class="game-title">Game 777</div>
    </div>
    <div class="game-item" (click)="GameMines()">
      <img src="http://localhost:4200/mines.png" alt="Avatar of Game 2" />
      <div class="game-title">Game RengReng</div>
    </div>
    <div class="game-item" (click)="GameSpaceman()">
      <img src="http://localhost:4200/spaceman.jpg" alt="Avatar of Game 3" />
      <div class="game-title">Game Spaceman</div>
    </div>
    <div class="game-item" (click)="GameChanLe()">
      <img src="http://localhost:4200/ChanLe.png" alt="Avatar of Game 4" />
      <div class="game-title">Game Chẵn Lẻ</div>
    </div>
    <div class="game-item">
      <img src="http://localhost:4200/xxmb.png" alt="Avatar of Game 5" />
      <div class="game-title">Xổ số miền bắc</div>
    </div>
    <div class="game-item" (click)="Football()">
      <img src="http://localhost:4200/sport.png" alt="Avatar of Game 5" />
      <div class="game-title">Thể thao</div>
    </div>
  </div>
</div>
