* {
  margin: 0;
  padding: 0;
}
body {
  background-attachment: fixed;
  overflow: hidden;
}
main {
  position: relative;
  left: 10%;
  top: 8%;
  width: 80%;
  height: 84%;
  border-radius: 35px;
  box-shadow: 0px 16px 18px 7px rgba(148, 104, 105, 0.5);
  overflow: hidden;
  background:  linear-gradient(45deg, #2a2a72, #009ffd);
  animation: backgroundAnimation 4s infinite ease;
  background-size: 500%;
  transition: box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển tiếp cho bóng đổ */
  overflow: auto;
  background-size: 500%;
}
.masked-overflow::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
@keyframes backgroundAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
