<div class="messenger">
    <div class="sidebar">
        <h2>Chats</h2>
        <ul class="chat-list">
            <li class="chat-item">User 1</li>
            <li class="chat-item">User 2</li>
            <li class="chat-item">User 3</li>
        </ul>
    </div>
    <div class="chat-window">
        <div class="chat-header">User 1</div>
        <div class="chat-messages">
            <div class="message received">Hello!</div>
            <div class="message sent">Hi, how are you?</div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type a message...">
            <button>Send</button>
        </div>
    </div>
</div>
