<div class="messenger">
    <div class="sidebar">
        <h2>Chats</h2>
        <ul class="chat-list">
            <li *ngFor="let user of users" 
            class="chat-item" 
            [ngClass]="{ 'active': user.id === selectedUser?.id }"
            (click)="selectUser(user)">
                {{ user.fullname }}
            </li>
        </ul>
    </div>
    <div class="chat-window" *ngIf="selectedUser">
        <div class="chat-header">{{ selectedUser.fullname }}</div>

        <div class="chat-messages">
            <div *ngFor="let msg of reversedmessages" [ngClass]="msg.type" class="message">
                {{ msg.content }}
            </div>
        </div>

        <div class="chat-input">
            <input [(ngModel)]="newMessage" type="text" placeholder="Type a message..." (keyup.enter)="sendMessage()">
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
