<div class="lottery-container" *ngIf="activeTab === 'bet'">
  <div class="lottery">
    <h2 style="color: white;">XSMB - Kết quả xổ số miền Bắc - SXMB</h2>
    <h3 style="color: white;">Kết quả xổ số ngày {{ selectedDate | date: 'dd/MM/yyyy' }}</h3>
    <table class="lottery-table">
      <tr>
        <td>ĐB</td>
        <td class="gdb">{{ lotteryData.gdb }}</td>
      </tr>
      <tr>
        <td>G1</td>
        <td>{{ lotteryData.g1 }}</td>
      </tr>
      <tr>
        <td>G2</td>
        <td><span *ngFor="let num of lotteryData.g2" class="number-block">
          {{ num }}
        </span></td>
      </tr>
      <tr>
        <td>G3</td>
        <td><span *ngFor="let num of lotteryData.g3" class="number-block">
          {{ num }}
        </span></td>
      </tr>
      <tr>
        <td>G4</td>
        <td><span *ngFor="let num of lotteryData.g4" class="number-block">
          {{ num }}
        </span></td>
      </tr>
      <tr>
        <td>G5</td>
        <td><span *ngFor="let num of lotteryData.g5" class="number-block">
          {{ num }}
        </span></td>
      </tr>
      <tr>
        <td>G6</td>
        <td><span *ngFor="let num of lotteryData.g6" class="number-block">
          {{ num }}
        </span></td>
      </tr>
      <tr>
        <td>G7</td>
        <td><span *ngFor="let num of lotteryData.g7" class="number-block">
          {{ num }}
        </span></td>
      </tr>
    </table>
  </div>
  
  <div class="lottery-bet">
    <h4>Đặt cược xổ số</h4>
    <form #betForm="ngForm">
      <div class="form-group">
        <label for="number">Cược số:</label>
        <input type="text" id="number" name="number" [(ngModel)]="betNumber" maxlength="2" pattern="[0-9]{2}" required />
      </div>
  
      <div class="form-group">
        <label for="amount">Số tiền cược:</label>
        <input type="number" id="amount" name="amount" [(ngModel)]="betAmount" min="1000" required />
      </div>

    </form>

    <button type="button" class="bet-btn" (click)="placeBet()" [disabled]="!betForm.valid">Đặt cược</button>

    <button type="button" class="hisbtn" (click)="activeTab = 'history'; showBetHistory()" *ngIf="activeTab === 'bet'" style="margin-top: 1rem;">
      Xem lịch sử cược
    </button>
  </div>
</div>



<div class="hisxs" *ngIf="activeTab === 'history'">

  <div class="lottery-history">
    <h4 style="color: white;">Lịch sử cược xổ số</h4>
    <table>
      <thead>
        <tr>
          <th>Thời gian đặt</th>
          <th>Số đã cược</th>
          <th>Số tiền</th>
          <th>Ngày cược</th>
          <th>Kết quả</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bet of lotteryHistory">
          <td>{{ bet.betTime | date:'HH:mm:ss dd/MM/yyyy' }}</td>
          <td>{{ bet.prediction }}</td>
          <td>{{ bet.betAmount | number }} </td>
          <td>{{ bet.referenceId }}</td>
          <td>{{ bet.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="return-btn" type="button" (click)="activeTab = 'bet'" style="margin-bottom: 1rem;">Quay lại đặt cược</button>
</div>