.lottery-container {
    height: 65vh;
    width: 80%;
    left: 10%;
    top: 5rem;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.lottery{
    width: 65%;
    height: 65vh;

}


.lottery-wrapper {
    /* max-width: 500px; */
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .lottery-table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent ;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .lottery-table td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
  }
  
  .number-block {
    margin-right: 15px;
    display: inline-block;
    font-weight: bold;
    color: white;
  }
  .gdb {
    font-size: 24px;
    color: red;
  }

  .lottery-bet {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lottery-bet form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .lottery-bet h4 {
    margin-bottom: 15px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #444;
  }
  
  .bet-btn, .hisbtn{
    width: 60%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .bet-btn:hover {
    background-color: #218838;
  }
  
  .bet-btn:disabled {
    background-color: #888 !important;
    color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }

  .hisbtn:hover {
    background-color: #218838;
  }

  .hisxs{
    height: 65vh;
    width: 80%;
    left: 10%;
    top: 5rem;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lottery-history {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 90%;
    height: 90%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    color: white;
  }
  
  .return-btn{
    width: 30%;
    height: 5%;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
  }