<div class="profile">
    <!-- Left Section -->
    <div class="left-section">
        <div class="profile-left">
            <div class="profile-pic"></div>
            <div class="user-info">
                <div class="username">
                    <p>nguyen tri</p>
                </div>
                <div class="id-user">
                    <p>id: 123123</p>
                </div>
            </div>
        </div>

        <button class="change-password">change password</button>
        
        <div class="money">
            <div class="card">
                <div class="card-header">
                    <span class="logo"></span>
                    <span class="card-number">8386</span>
                    <span class="expiry">05/26</span>
                </div>
                <div class="balance-text">Balance:</div>
                <div class="balance-amount">$ 5.795.489,12</div>
                <span class="new-badge">mâm 1</span>
            </div>
        </div>
    </div>
    <!-- Right Section -->
    <div class="right-section">
        <div class="achievements">
            <p>ACHIEVEMENTS</p>
            <div class="achievement-icons">
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
