<div class="home" >
    <div class="football" (click)="FootballPage()">
        <div class="match-card" *ngFor="let match of matches">
            <div class="match-info">
              <div class="match-time">
                <span>{{ match.utcDate | date: 'HH:mm' }}</span>
                <span>{{ match.utcDate | date: 'dd/MM' }}</span>
              </div>
              <div class="teams">
                <div class="team">
                  <img [src]="match.homeTeam.crest" class="team-logo" />
                  <span>{{ match.homeTeam.name }}</span>
                </div>
                <div class="team">
                  <img [src]="match.awayTeam.crest" class="team-logo" />
                  <span>{{ match.awayTeam.name }}</span>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="lottery">xo so</div>
    <div class="games">gameee</div>
    <div class="last-played">lich su choi</div>
    <div class="static">thong ke</div>
</div>